<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="jdbcUrl" value="jdbc:h2:~/testdb"/>
    <property name="driverClass" value="org.h2.Driver"/>
    <property name="user" value="sa"/>
    <property name="password" value=""/>
</bean>
<bean name="sFactory" class="org.example.factory.StudentFactory" >
    <constructor-arg index="0" ref="dataSource"/>
</bean>
    <bean name="dao" class="org.example.dao.StudentDaoImpl">
        <constructor-arg index="0" ref="sFactory"/>
    </bean>
</beans>
